<%- include("recruiterHeader.ejs") %>
<!-- stats section -->
<section class="homeblock-stats py-5" id="stats">
    <div class="container py-md-5 py-4">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="position-relative">
                    <h3 class="title-style mb-2">Update Password</h3>
                    <%= msg %>
                </div>
                <div class="row mt-4 pt-2">
                    <form action="/recruiter/updatePassword" method="post">
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter New Password">
                        </div>
                        <div class="mb-3">
                            <label for="cPassword" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="cPassword" name="cPassword" placeholder="Enter Password Again">
                        </div>
                        <button type="submit" class="btn btn-danger" style="width: 100%;">Update Password</button>
                      </form>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 offset-xl-1 ps-xl-0 mt-lg-0 mt-5">
                <img src="assets/images/about.jpg" class="img-fluid radius-image" alt="">
            </div>
        </div>
    </div>
</section>
<!-- //stats section -->
<%- include("recruiterFooter.ejs") %>
<%- include("javascript.ejs") %>